.side-header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    margin: 10px;
}
.sidenav-subheader {
    text-align: center;
    margin-bottom: 0px;
}
.sidenav-custom {
    margin: 10px;
    border-radius: 5px;
}

ul > li {
    margin-left: 10px;
    margin-bottom: 5px;
    width: auto;
    background-color: rgb(196, 225, 154);
}
ul > li:hover {
    background-color: rgb(124, 186, 1);
}
ul > li:active {
    background-color: rgb(124, 186, 1);
}

.ul1 {
    column-count: 2;
    column-gap: 0;
}
.list-item-text {
    margin-left: 30%;
}
.sidebar-nav {
    column-count: 2;
}
.well {
    height: 500px;
    background-color: white;
}
.well-xs {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.image-span-bg-color-grey {
    background-color: rgb(242, 242, 242);
}
ol > li {
    list-style-type: disc;
    color: blue;
}
.ul2 {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}
.li2 {
    display: inline-block;
    width: 50%;
}
hr{
    width: 85% !important;
    margin-top: 2px !important;
    border-top: 2px solid #eee !important;
    margin-bottom: 12px !important;
}
@media only screen and (max-width: 350px) {
    .well-xs {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        width: auto;
    }
}
@media screen and (max-width: 700px) {
    div.hide-sm {
        display: none;
    }
    div.hide-md {
        display: none;
    }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
    div.hide-xs {
        display: none;
    }
    div.hide-md {
        display: none;
    }
}
@media screen and (min-width: 1024px){
    div.hide-xs {
        display: none;
    }
    div.hide-sm {
        display: none;
    }
}
