.sidenav-subheader {
    text-align: center;
    margin-bottom: 0px;
}
.sidenav-custom {
    margin: 10px;
    border-radius: 5px;
}

ul > li {
    margin-left: 10px;
    margin-bottom: 5px;
    width: auto;
    background-color: rgb(196, 225, 154);
}
ul > li:hover {
    background-color: rgb(124, 186, 1);
}
ul > li:active {
    background-color: rgb(124, 186, 1);
}

.ul1 {
    column-count: 2;
    column-gap: 0;
}
.list-item-text {
    margin-left: 30%;
}
.sidebar-nav {
    column-count: 2;
}
.well {
    height: 460px;
    background-color: white;
}
.well-xs {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.image-span-bg-color-grey {
    background-color: rgb(242, 242, 242);
}
hr {
    width: 85% !important;
    margin-top: 2px !important;
    border-top: 2px solid #eee !important;
    margin-bottom: 12px !important;
}
.year-btn-custom {
    background-color: rgb(197, 224, 155);
    margin: 10%;
    width: 100%;
    padding: 10px;
    outline: none !important;
}
.year-btn-custom:active,
.year-btn-custom:focus,
.year-btn-custom:hover {
    background-color: rgb(124, 186, 1);
    margin: 10%;
    width: 100%;
    padding: 10px;
    outline: none !important;
}
.launch-search-btn-custom {
    background-color: rgb(197, 224, 155);
    margin: 10%;
    width: 100%;
    padding: 10px;
    outline: none !important;
}
.launch-search-btn-custom:active,
.launch-search-btn-custom:focus,
.launch-search-btn-custom:hover {
    background-color: rgb(124, 186, 1);
    margin: 10%;
    width: 100%;
    padding: 10px;
    outline: none !important;
}
.land-search-btn-custom {
    background-color: rgb(197, 224, 155);
    margin: 10%;
    width: 100%;
    padding: 10px;
    outline: none !important;
}
.land-search-btn-custom:active,
.land-search-btn-custom:focus,
.land-search-btn-custom:hover {
    background-color: rgb(124, 186, 1);
    margin: 10%;
    width: 100%;
    padding: 10px;
    outline: none !important;
}
@media only screen and (max-width: 350px) {
    .well-xs {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        width: auto;
    }
}
@media screen and (max-width: 700px) {
    div.hide-sm {
        display: none;
    }
    div.hide-md {
        display: none;
    }
}
@media screen and (min-width: 700px) and (max-width: 1024px) {
    div.hide-xs {
        display: none;
    }
    div.show-md {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    div.hide-xs {
        display: none;
    }
    div.hide-sm {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    div.sidenav-custom {
        width: 60%;
        margin-left: 18%;
        margin-right: 20%;
    }
    .year-btn-custom {
        background-color: rgb(197, 224, 155);
        margin: 10%;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        outline: none !important;
        text-align: center;
    }
}
