<header class="header-custom">
    <p class="header-p">SpaceX Launch Programs</p>
</header>
<nav class="navbar visible-xs">
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav sidenav-custom">
                <h3 class="side-header">{{ filterTitleHeader | titlecase }}</h3>
                <p class="sidenav-subheader">{{ filterOnYearHeader | titlecase}}</p>
                <hr>
                <ul class="list-group ul1">
                    <li class="list-group-item l1" *ngFor="let year of arrayYearForFilter">
                        <span class="list-item-text" (click)="onFilterYearSearch(year)">{{ year }}</span>
                    </li>
                </ul>
                <p class="sidenav-subheader">{{ filterOnSucessfullLaunch | titlecase}}</p>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="list-item-text" (click)="onFilterLaunchSearch('true')">True</span>
                        <span class="list-item-text" (click)="onFilterLaunchSearch('false')">False</span>
                    </li>
                </ul>
                <p class="sidenav-subheader">{{ filterOnSucessfullLand | titlecase}}</p>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="list-item-text" (click)="onFilterLandSearch('true')">True</span>
                        <span class="list-item-text" (click)="onFilterLandSearch('false')">False</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <h3 class="side-header">{{ filterTitleHeader | titlecase }}</h3>
            <p class="sidenav-subheader">{{ filterOnYearHeader | titlecase}}</p>
            <hr>
            <ul class="list-group ul1">
                <li class="list-group-item l1" *ngFor="let year of arrayYearForFilter">
                    <span class="list-item-text" (click)="onFilterYearSearch(year)">{{ year }}</span>
                </li>
            </ul>
            <p class="sidenav-subheader">{{ filterOnSucessfullLaunch | titlecase}}</p>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="list-item-text" (click)="onFilterLaunchSearch('true')">True</span>
                    <span class="list-item-text" (click)="onFilterLaunchSearch('false')">False</span>
                </li>
            </ul>
            <p class="sidenav-subheader">{{ filterOnSucessfullLand | titlecase}}</p>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="list-item-text" (click)="onFilterLandSearch('true')">True</span>
                    <span class="list-item-text" (click)="onFilterLandSearch('false')">False</span>
                </li>
            </ul>
        </div>
        <br>

        <div class="col-sm-9">
            <div class="row visible-sm">
                <div class="col-sm-6" *ngFor="let responseData of responseDatas">
                    <div class="well">
                        <div class="card">
                            <span>
                                <img class="card-img-top image-span-bg-color-grey"
                                    src="{{ responseData.links.mission_patch }}" alt="Card image"
                                    style="width:200px; height: 220px;">
                            </span>
                            <div class="card-body">
                                <p class="missionNameTitle">{{ responseData.mission_name + '#' +
                                    responseData.flight_number }}
                                </p>
                                <p><b>Mission Ids:</b></p>
                                <ol>
                                    <li *ngFor="let missionId of responseData.mission_id">{{ missionId }}</li>
                                </ol>
                                <p><b>Launch Year: {{ responseData.launch_year }}</b></p>
                                <p><b>Successful launch: {{ responseData.launch_success }}</b></p>
                                <p><b>Successful landing: {{ responseData.rocket.first_stage.cores[0]?.land_success
                                        }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-sm">
                <div class="col-md-3" *ngFor="let responseData of responseDatas">
                    <div class="well">
                        <div class="card">
                            <span>
                                <img class="card-img-top image-span-bg-color-grey"
                                    src="{{ responseData.links.mission_patch }}" alt="Card image"
                                    style="width:180px; height: 170px;">
                            </span>
                            <div class="card-body">
                                <p class="missionNameTitle">{{ responseData.mission_name + '#' +
                                    responseData.flight_number }}
                                </p>
                                <p><b>Mission Ids:</b></p>
                                <ol>
                                    <li *ngFor="let missionId of responseData.mission_id">{{ missionId }}</li>
                                </ol>
                                <p><b>Launch Year: {{ responseData.launch_year }}</b></p>
                                <p><b>Successful launch: {{ responseData.launch_success }}</b></p>
                                <p><b>Successful landing: {{ responseData.rocket.first_stage.cores[0]?.land_success
                                        }}</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-custom">
    <p class="footer-p">{{ developedBy | titlecase }}</p>
</footer>