<app-header-app></app-header-app>
<nav class="navbar visible-xs">
    <div class="container-fluid">
        <div class="row content">
            <div class="col-xs-12 sidenav sidenav-custom">
                <app-side-nav-filter-header [filterTitleHeader]="filterTitleHeader"></app-side-nav-filter-header>
                <p class="sidenav-subheader">{{ filterOnYearHeader | titlecase}}</p>
                <hr>
                <div *ngFor="let year of arrayYearForFilter">
                    <div class="col-xs-6">
                        <button class="btn year-btn-custom" (keyup)="onKeyupEvent($event)"
                            (click)="onFilterYearSearch(year)">{{ year
                            }}</button>
                    </div>
                </div>
                <!-- Dummy button whose visibility is set to hidden
            this is used when the number of year counter is odd  -->
                <div *ngIf="arrayYearForFilter?.length % 2 == 1" class="col-sm-6">
                    <button class="btn btn-default year-btn-custom" style="visibility: hidden;">Dummy</button>
                </div>
                <p class="sidenav-subheader">{{ filterOnSucessfullLaunch | titlecase}}</p>
                <hr>
                <div (click)="onLaunchButtonGroupClick($event)">
                    <div class="col-xs-6">
                        <button class="btn launch-search-btn-custom"
                            (click)="onFilterLaunchSearch($event,'true')">True</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn launch-search-btn-custom"
                            (click)="onFilterLaunchSearch($event,'false')">False</button>
                    </div>
                </div>
                <p class="sidenav-subheader">{{ filterOnSucessfullLand | titlecase}}</p>
                <hr>
                <div>
                    <div class="col-xs-6">
                        <button class="btn land-search-btn-custom"
                            (click)="onFilterLandSearch($event, 'true')">True</button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn land-search-btn-custom"
                            (click)="onFilterLandSearch($event, 'true')">False</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <app-side-nav-filter-header [filterTitleHeader]="filterTitleHeader"></app-side-nav-filter-header>
            <p class="sidenav-subheader">{{ filterOnYearHeader | titlecase}}</p>
            <hr>
            <div *ngFor="let year of arrayYearForFilter">
                <div class="col-sm-6">
                    <button class="btn year-btn-custom" (keyup)="onKeyupEvent($event)"
                        (click)="onFilterYearSearch(year)">{{ year
                        }}</button>
                </div>
            </div>
            <!-- Dummy button whose visibility is set to hidden
            this is used when the number of year counter is odd  -->
            <div *ngIf="arrayYearForFilter?.length % 2 == 1" class="col-sm-6">
                <button class="btn btn-default year-btn-custom" style="visibility: hidden;">Dummy</button>
            </div>
            <p class="sidenav-subheader">{{ filterOnSucessfullLaunch | titlecase}}</p>
            <hr>
            <div (click)="onLaunchButtonGroupClick($event)">
                <div class="col-sm-6">
                    <button class="btn launch-search-btn-custom"
                        (click)="onFilterLaunchSearch($event,'true')">True</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn launch-search-btn-custom"
                        (click)="onFilterLaunchSearch($event,'false')">False</button>
                </div>
            </div>
            <p class="sidenav-subheader">{{ filterOnSucessfullLand | titlecase}}</p>
            <hr>
            <div>
                <div class="col-sm-6">
                    <button class="btn land-search-btn-custom"
                        (click)="onFilterLandSearch($event, 'true')">True</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn land-search-btn-custom"
                        (click)="onFilterLandSearch($event, 'true')">False</button>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-9">
            <!-- For Extra small screen -->
            <div class="row visible-xs hide-xs">
                <div class="col-sm-12" *ngFor="let responseData of responseDatas">
                    <div class="well well-xs">
                        <div class="card">
                            <app-info-card [contentData]="responseData"></app-info-card>
                        </div>
                    </div>
                </div>
            </div>
            <!-- For table level view -->
            <div class="row visible-sm hide-sm">
                <div class="col-sm-6" *ngFor="let responseData of responseDatas">
                    <div class="well">
                        <div class="card">
                            <app-info-card [contentData]="responseData"></app-info-card>
                        </div>
                    </div>
                </div>
            </div>
            <!-- For desktop level view -->
            <div class="row visible-md visible-lg show-md">
                <div class="col-sm-3" *ngFor="let responseData of responseDatas">
                    <div class="well">
                        <div class="card">
                            <app-info-card [contentData]="responseData"></app-info-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-app></app-footer-app>